
:root {
	--color_backround: #1b1b1b;
	--color_highlight: #FFFFFF;
    --color_header: #0f2d61;
    --color_priority1: #791a1a;
    --color_priority2: #a84121c2;
    --color_priority3: #2e2d2d;
    --color_font: white;
    --main_fonts: "Inter", "system-ui";
}


body {
    background-color: var(--color_backround);
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.task-item {
    display: flex;
    align-items: center;
    column-gap: 5px;
    row-gap: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 15px; 
}

.new-task {
    display: flex;
    align-items: center;
    column-gap: 5px;
    row-gap: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 15px;
}

.new-task-icon {
    width: 25px;         
    height: 25px;
    flex-shrink: 0;
    object-fit: contain;
}

.priority-icon {
    width: 30px;         
    height: 30px;
    flex-shrink: 0;
    object-fit: contain;
}

.todo-list {
    padding: 20px;
    margin-bottom: 10px;
    background-color:var(--color_backround);
}

.priorytet1 {
    padding: 20px;
    margin-bottom: 10px;
    background-color:var(--color_priority1);
}

.priorytet2 {
    padding: 20px;
    margin-bottom: 10px;
    background-color:var(--color_priority2);
}
.priorytet3 {
    padding: 20px;
    margin-bottom: 10px;
    background-color:var(--color_priority3);
}


header {
    background-color:var(--color_header);
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
}


.bottom{
    background-color: aqua;
    width: 100%;
}

h1 {
    font-family: var(--main_fonts);
    text-transform: uppercase;
    color: var(--color_font)
}

h2 {
    font-family: var(--main_fonts);
    size: 20px;
    color: var(--color_font)
}

h3 {
    font-family: var(--main_fonts);
    color: var(--color_font)
}

p {
    font-family: var(--main_fonts);
    color: var(--color_font);
    font-size: medium
}

li {
    font-family: var(--main_fonts);
    color: var(--color_font);
    margin-left: 20px;
}


